.sidebar {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  .search-section {
    background-color: #eee;
    width: 100%;
    padding: 8px 12px;
    box-sizing: border-box;
  }
  .search-box {
    display: flex;
    padding: 4px;
    background-color: #fff;
    border-radius: 20px;
    align-items: center;
    i {
      margin: 0 8px;
    }
    input {
      outline: none;
      border: none;
      flex: 1;
    }
  }
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}